{% extends 'base.html' %}

{% block basecontent %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse"
                   data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html"><span>Linkedin</span></a>

                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-envelope"></i>
								<span class="badge red">
								4 </span>
                            </a>
                            <ul class="dropdown-menu messages">
                                <li class="dropdown-menu-title">
                                    <span>You have {{ mess_count }} messages</span>
                                    <a href="{% url 'home' %}"><i class="icon-repeat"></i></a>
                                </li>
                                {% for mess in messages %}
                                    <li>
                                        <a href="#">
                                            <span class="avatar"><img src=" img/avatar.jpg" alt="Avatar"></span>
                                            <span class="header">
                                                <span class="from">
                                                    {{ mess.from_user | slice:":15" }}
                                                    {% if mess.from_user|length > 15 %}
                                                    ...
                                                    {% endif %}
                                                 </span>
                                            </span>
                                            <span class="message">
                                                {{ mess.content | slice:":15" }}
                                                {% if mess.content|length > 15 %}
                                                ...
                                                {% endif %}
                                            </span>
                                        </a>
                                    </li>
                                {% endfor %}
                                <li>
                                    <a class="dropdown-menu-sub-footer" href="{% url 'message' %}">View all messages</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white user"></i> {{ user.username }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                    <span>Account Settings</span>
                                </li>
                                <li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>
                                <li><a href="{% url 'logout' %}"><i class="halflings-icon off"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li>
                        <a href="tml"><i class="icon-bar-chart"></i><span
                                class="hidden-tablet"> Dashboard</span></a>
                    </li>
                    <li>
                        <a href="{% url 'message' %}">
                            <i class="icon-envelope"></i>
                            <span class="hidden-tablet"> Messages</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'companies' %}">
                            <i class="icon-eye-open"></i>
                            <span class="hidden-tablet">Companies</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div id="content" class="span10">
            {% block message %}
            {% endblock %}
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}
{% block stylesheets %}
{% endblock %}




