{% extends 'login.html' %}

{% block content %}
    <h2>Register new account</h2>
    <form class="form-horizontal" action="index.html" method="post">
        <fieldset>
            <div class="input-prepend" title="Username">
                <span class="add-on"><i class="halflings-icon user"></i></span>
                <input class="input-large span10" name="username" id="username" type="text"
                       placeholder="Full Name"/>
            </div>
            <div class="clearfix"></div>
            <div class="input-prepend" title="Role" name="select-role">
                <select>
                    <option value="0">Company</option>
                    <option value="1">Client</option>
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="input-prepend" title="Password">
                <span class="add-on"><i class="halflings-icon lock"></i></span>
                <input class="input-large span10" name="password" id="password" type="password"
                       placeholder="Password"/>
            </div>
            <div class="clearfix"></div>
            <div class="input-prepend" title="RepeatPassword">
                <span class="add-on"><i class="halflings-icon lock"></i></span>
                <input class="input-large span10" name="repeat-password" id="password" type="password"
                       placeholder="Repeat Password"/>
            </div>
            <div class="clearfix"></div>
            <div class="button-login">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <div class="clearfix"></div>
        </fieldset>
    </form>
    <hr>
    <h3>Have already an account?</h3>
    <p>
        <a href="#">Click here</a> to login.
    </p>
{% endblock %}